.wd-black-background {
    background-color: black;
}

.wd-helvetica-font {
    font-family: helvetica;
}

.wd-border-basic {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
}

.wd-left-margin {
    margin-left: 16px;
}

.wd-float-left {
    float: left;
}

.wd-search-bar {
    color: white;
    background-color: rgb(47, 51, 54);
    width: 90%;
    height: 30px;
    padding-left: 20px;
    border-width: 0;
    font-size: 15px;
}

.wd-gear {
    height: 20px;
    margin-left: 12px;
    position: relative;
    top: 25%;
}


.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-top-section {
    height: 30px;
}

.wd-topics-row {
    color: rgb(110, 118, 125);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.wd-padding-all-around {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.wd-active-link {
    color: rgb(29, 161, 242);
    border-bottom-style: solid;
    border-color: rgb(29, 161, 242);
}

.wd-post-section {
    width: 96%;
    height: 100px;
    border-style: solid;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;

}

.wd-num-tweets-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-weight: normal;

}

.wd-post-title {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.wd-post-author {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.wd-no-top-border {
    border-top-style: none;
}

.wd-post-image {
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 16px;
    object-fit: cover;
}
